*{
    padding: 0;
    margin: 0;
}

.single_row{
    margin-left: 20px;
}

.custom_card{
    background-color: transparent !important;
    text-decoration: none;
}
.movie_name{
    color: rgba(255, 255, 255, 0.896);
    font-size: 23px;
    font-weight: 600;
    
}
.movie_image{
    border-radius: 10px;
}
.movie_tittle{
    font-size: 30px;
    font-weight: 700 !important;
}

/* nav */

.custom_link{
    color: rgba(255, 255, 255, 0.821) !important;
    font-size: 18px;
    font-weight: 700 ;
}

.custom_link:hover{
    color: rgba(255, 0, 0, 0.729) !important;
    font-weight: 700 ;
}


@media (max-width: 1020px)  {
    .movie_name{
        font-size: 18px;
    }
}

@media (max-width: 878px)  {
    .movie_name{
        font-size: 14px;
    }
    .movie_tittle{
        font-size: 25px;
    }
}

@media (max-width: 580px)  {
    .movie_name{
        font-size: 10px;
    }
    .custom_link{
        font-size: 15px;
    }
}

@media (max-width: 444px)  {
    .movie_name{
        font-size: 8px;
    }
    .movie_tittle{
        font-size: 23px;
    }
}

@media (max-width: 403px)  {
    .movie_name{
        font-size: 6px;
        font-weight: 600;
    }
    .movie_tittle{
        font-size: 20px;
    }
}