.movie_name{
    font-weight: 600;
    font-size: 35px;
}

.custom_padding{
    padding-top: 80px !important;
}



/* nav */

.custom_link{
    color: rgba(255, 255, 255, 0.821) !important;
    font-size: 18px;
    font-weight: 700 ;
}

.custom_link:hover{
    color: rgba(255, 0, 0, 0.729) !important;
    font-weight: 700 ;
}

/* @media (max-width: 444px)  {
    .movie_name{
        font-size: 20px;
    }
} */

@media (max-width: 700px)  {
    .movie_name{
        font-size: 18px;
    }
}
